.counter {
  font-size: 4rem;
  color: var(--primary-color);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  font-size: 2.5rem;
  font-weight: 700;
}

.number {
  font-weight: bold;
  margin-right: 0.5rem;
}

.year {
  font-size: 2.3rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
} 