// StoryBlock.module.scss
.storyBlock {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  position: relative;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.7;
    filter: brightness(0.9);
  }
  
  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    padding: 2rem; // Увеличим padding для лучшего визуального восприятия
    background-color: var(--block-back);
    backdrop-filter: var(--block-filter);
    border-radius: 15px;
  }
}

.title {
  margin-bottom: 1rem; // Увеличим отступ
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  font-size: var(--font-size-title);
  width: 100%; // Добавим фиксированную ширину

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100%; // Фиксированная ширина
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 200px; // Фиксированная высота изображения
  gap: 1rem;
  align-items: center;
  justify-items: center;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  font-size: var(--font-size-text);
  text-align: center;
  width: 100%;
  margin: 0;
}

.imageWrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto;

  picture {
    width: 100%;
    height: 100%;
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
    display: block;
    
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 768px) {
  .storyBlock {
    padding: 1rem;
  }

  .content {
    gap: 0.2rem;
    padding: 1.5rem;
  }

  .items {
    gap: 0.6rem;
  }

  .item {
    grid-template-rows: auto 120px;
    gap: 0.2rem; // Уменьшаем высоту изображения на мобильных
  }

  .imageWrapper {
    width: 120px;
    height: 120px;
  }
}